<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<section class="">
  <div class="">
    <div class="row">
      <div class="tableindex col-md-5 col-md-offset-1 ">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Continent</th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @countries.each do |country| %>
            <tr>
              <td><%= country.name %></td>
              <td><%= country.continent %></td>
              <td><%= link_to 'Show', country %> | </td>
              <td><%= link_to 'Edit', edit_country_path(country) %> | </td>
              <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="container col-md-6">
        <%= image_tag("sample1.jpeg") %>
      </div>
    </div>
  </div>
</section>
