<p id="notice"><%= notice %></p>

<h1>Cities</h1>
<section class="">
  <div class="">
    <div class="row">
      <div class="tableindex col-md-5 col-md-offset-1 ">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @cities.each do |city| %>
            <tr>
              <td><%= city.name %></td>
              <td><%= link_to 'Show', city %> | </td>
              <td><%= link_to 'Edit', edit_city_path(city) %> | </td>
              <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="container col-md-6">
        <%= image_tag("sample3.jpeg") %>
      </div>
    </div>
  </div>
</section>
